
/*
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 5px 0;
}

.time,
.mins,
.meridian {
	width: 60px;
	float: left;
	font-size: 14px;
	color: #2d2e2e;
	font-family: arial;
	font-weight: 700;
}

.prev,
.next {
	cursor: pointer;
	padding: 2px 0;
	width: 50%;
	border: 1px solid transparent;
	margin: auto;
	text-align: center;
}

.prev:hover,
.next:hover {
	background-color: #eee;
	border-color: #ddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.time_pick {
	position: relative;
}

.timepicker_wrap {
	padding: 4px;
	border-radius: 4px;
	z-index: 1030;
	display: none;
	background: #fff;
	border: 1px solid #eee;
	float: left;
	position: absolute;
	top: -102px;
	left: 0;
	align-items: center;
}

.timepicker_wrap > span {
	color: #000;
	font-weight: 600;
	text-shadow: none;
}

.timepicker_wrap:before {
	bottom: -7px;
	border-bottom: 0;
	border-top: 7px solid #999;
	left: 6px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	position: absolute;
}

.timepicker_wrap:after {
	bottom: -6px;
	border-bottom: 0;
	border-top: 6px solid #fff;
	left: 7px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	position: absolute;
}
input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	float: none;
	margin: 0;
	text-align: center;
	width: 50%;
	outline: none;
}
a.reset_time {
	float: left;
	margin-top: 5px;
	color: #000;
}

.timepicker_wrap .glyphicon {
	vertical-align: text-top;
}
